<%= render post.categories %>
<h4><%= link_to post.title, post_path(post) %></h4>
<h5><%= post.description %></h5>

<small class="muted">
  <%= link_to pluralize(post.comments.count, 'comment'), post_path(post) %>
  | posted by <%= link_to post.creator.username, "#" %> <%= time_ago_in_words(post.created_at) + ' ago' %>
  | <i class="icon-user"></i>

  <div class="pull-right">
    [ <i class="icon-pencil" id="glyphs"></i> <%= link_to "Edit", edit_post_path(post) %> 
    | <i class="icon-trash" id="glyphs"></i> <%= link_to "Delete", @post, method: :delete, data: {confirm: "Are you sure your want to delete this post?"} %> ]
  </div>
</small>  