<div class="page-header">
  <% if logged_in? %>
    <h2>Welcome <small> - <%= current_user.username %>, start posting!</small></h2>
  <% else %>
    <h2>Welcome <small> - please <%= link_to "register", register_path %> to get started!</small></h2>
  <% end %>
</div>

<% @posts.each do |post| %>
    <div class="row">
      <div class="span1">
        <div class="gravatar_post"><%= link_to image_tag(post.creator.gravatar_url), user_path(post.creator) %></div>
      </div>
      <div class="span11">
        <div id="post_feed">
          <%= render 'post', post: post %>
        </div>
      </div>
    </div>
<% end %>
<%= will_paginate @posts %>