<div class="page-header">
  <h2>New Post<small> - create a new rails post!</small></h2>
</div> 
<div class="well">
  <%= form_for @post do |f| %>
    <div class="control-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "span3", placeholder: "Title goes here" %>
    </div>

    <div class="control-group">
      <%= f.label :url %>
      <%= f.text_field :url, class: "span3", placeholder: "URL goes here" %>
    </div>

    <div class="control-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "span3", placeholder: "Description goes here", rows: "6" %>
    </div>

    <%= f.submit "Create Post", class: "btn btn-primary" %>
  <% end %>
</div> 