<%= render "shared/errors", obj: @category %>

<div class="page-header">
  <h3>New Category<small> - congrats, your're an admin!</small></h3>
</div>

<div class="well">
  <%= form_for @category do |f| %>
    <div class="control-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "span3", placeholder: "Category goes here" %>
    </div>

    <%= f.submit "Create category", class: "btn btn-primary" %>  
  <% end %>
</div>  